@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: 'Montserrat', sans-serif;
}

button {
  all: unset;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent; 
}

div {
  -webkit-tap-highlight-color: transparent; 
}

li {
  -webkit-tap-highlight-color: transparent; 
}

h2 {
  all: unset;
  font-weight: bold;
}

